{% load static %}
{% block content %}
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand"></a>
        <form class="form-inline ">
          <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img src="{% static 'images/search.svg' %}" alt=""></button>
        </form>
      </nav>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">GAMES</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">SOINS</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">BLOG</a></li> 
        <li><a href="#" class="nav-link px-2 link-dark">A PROPOS</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">CONTACT</a></li>
        
      </ul>

      <div class="col-md-3 text-end">
       
      </div>
    </header>
  </div>
  {% endblock content %}